.page {
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-family: Arial;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

.page-main {
  &__head {
    margin-left: 20px;
    margin-right: 20px;
    .oswald-font(36px, 40px, 400)
  }
  &__head-description {
    margin-left: 20px;
    margin-right: 20px;
    .oswald-font(14px, 18px, 400);
    text-transform: uppercase;
  }
}
