.page-header {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content min-content;
  border-bottom: 1px solid @mediumgray;
  text-transform: uppercase;
  &__logo-image {
    margin-left: 20px;
    margin-top: 11px;
    margin-bottom: 17.3px;
  }
  &__name-image {
    margin: auto;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    &__logo-image {
      margin-left: 20px;
      margin-top: auto;
      margin-bottom: auto;
    }
    &__name-image {
      .visually-hidden();
    }
    &__logo-image {
      width: 174px;
      height: 52px;
      margin-left: 30px;
      margin-top: 24px;
      margin-bottom: 17.3px;
    }
  }
}
