.main-nav {
  grid-row: ~"2 / 3";
  grid-column: ~"1 / 4";
  width: 100%;
  margin-bottom: -15px;
  &--show {
    visibility: hidden;
    height: 0;
  }

  &__toggle {
    background-image: url(../img/closemenu-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    margin: 18px 20px auto auto;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    &--show {
      visibility: visible;
      height: auto;
    }
    &__toggle {
      .visually-hidden();
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    margin-top: 35px;
    margin-right: 110px;
  }
}
