.site-list {
  text-align: center;
  padding: 0;
  &__item {
    border-top: 1px solid @gray;
    height: 42px;
    padding-top: 23px;
    .oswald-font(20px, 20px, 500);
  }
  &__item:last-child {
    margin-bottom: 14px;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 32px;
    &__item {
      margin-top: 38px;
      margin-left: 34px;
      .oswald-font(18px, 32px, 400);
      border: none;
      padding: 0;
      height: 36px;
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 0.3;
      }
      &--active {
        border-bottom: 2px solid @lightgreen;
      }
    }
    &__item-index {
      &--active {
        border-bottom: 2px solid @lightgreen;
        padding-bottom: 6px;
      }
    }
    &__item:last-child {
      margin-bottom: auto;
    }
  }
}


@media (min-width: @desktop-width) {
  .site-list {
    margin-right: 0px;
    &__item {
      .oswald-font(20px, 22px, 400);
      margin-left: 35px;
      height: 32px;
      &--active {
        border-bottom: 2px solid @lightgreen;
      }
    }
    &__item-index {
      color: @baselight;
      &--active {
        border-bottom: 2px solid @baselight;
        padding-bottom: 6px;
      }
    }
  }
}
