.site-list {
  text-align: center;
  padding: 0;
  &__item {
    border-top: 1px solid @gray;
    height: 44px;
    padding-top: 22px;
    .oswald-font(20px, 20px, 500);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 30px;
    &__item {
      margin-top: 44px;
      margin-left: 34px;
      .oswald-font(18px, 24px, 400);
      border: none;
      padding:0;
      height: 36px;
      &:hover {
        opacity: 0.6;
      }
      &--active {
        border-bottom: 2px solid @lightgreen;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    &__item {
      color: @baselight;
      &--active {
        border-bottom: 2px solid @baselight;
      }
    }
  }
}

