.about {
  margin: 0 20px 0 20px;

  &__head {
    .oswald-font(36px, 40px, 400)
  }

  &__list-item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto 0 auto;
  }
}

.list-item__description {
  width: 200px;
}
