.selection-catalog {
  &__card {
    background-color: @lightgray;
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content min-content;
    height: auto;
  }
  &__icon-conteiner {
    grid-row: ~"1 / 2";
    grid-column: ~"1 / 2";
    position: relative;
    width: 70px;
    z-index: 1;
    &::after {
      content: "";
      z-index: -1;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: @lightgreen;
      position: absolute;
      left: 10px;
      top: 3px;
    }
  }
  &__icon-image {
    width: 70px;
    height: 60px;
  }
  &__category{
    grid-row: ~"1 / 2";
    grid-column: ~"2 / 3";
    .oswald-font(24px, 37px, 400);
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 5px;
  }
  &__description {
    grid-row: ~"2 / 3";
    grid-column: ~"1 / 3";
    padding-bottom: 23px;
    color: @darkgray;
    border-bottom: 1px solid @mediumgray;
  }
  &__button {
    grid-row: ~"3 / 4";
    grid-column: ~"1 / 3";
    .oswald-font(16px, 16px, 400);
    text-transform: uppercase;
    margin-top: 0px;
    &::after {
      display: block;
      width: min-content;
      position: relative;
      left: 100px;
      top: -15px;
      content: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2212%22%20viewBox%3D%220%200%2024%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cline%20y1%3D%226%22%20x2%3D%2218%22%20y2%3D%226%22%20stroke%3D%22black%22%20stroke-width%3D%222%22%2F%3E%0A%3Cpath%20d%3D%22M24%206L17.25%2011.1962L17.25%200.803848L24%206Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fsvg%3E%0A);
    }
  }
}


@media (min-width: @tablet-width) {
  .selection-catalog {
    &__card {
      margin-left: 30px;
      margin-right: 30px;
      padding: 0px;
      grid-template-columns: 1fr min-content;
      height: 372px;
    }
    &__icon-conteiner {
      grid-row: ~"1 / 4";
      grid-column: ~"2 / 3";
      position: relative;
      margin-top: 81px;
      margin-right: 30px;
      width:250px;
      height: 200px;
      z-index: 1;
      &::after {
        height: 200px;
        width: 200px;
        left: 25px;
        top: 10px;
      }
    }
    &__icon-image {
      width: 264px;
      height: 211px;
    }
    &__category{
      grid-row: ~"1 / 2";
      grid-column: ~"1 / 2";
      .oswald-font(36px, 36px, 400);
      margin-left: 53px;
      margin-top: 77px;
    }
    &__description {
      grid-row: ~"2 / 3";
      grid-column: ~"1 / 2";
      padding-bottom: 0;
      border:none;
      margin-left: 53px;
      width: 377px;
    }
    &__button {
      grid-row: ~"3 / 4";
      grid-column: ~"1 / 2";
      .oswald-font(20px, 30px, 400);
      margin-top: 42px;
      margin-left: 53px;
      &::after {
        left: 120px;
        top: -32px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .selection-catalog {
    margin-top: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 7.6%;
    margin-right: 7.6%;
    &__card {
      width: 570px;
      margin-left: 0;
      margin-right: 0;
      padding: 0px;
      grid-template-columns: min-content 1fr;
      height: 372px;
    }
    &__icon-conteiner {
      grid-row: ~"1 / 2";
      grid-column: ~"1 / 2";
      position: relative;
      margin-top: 40px;
      margin-right: 0px;
      margin-left: 30px;
      width:auto;
      height: auto;
      z-index: 1;
      &::after {
        height: 100px;
        width: 100px;
        left: 25px;
        top: 10px;
      }
    }
    &__icon-image {
      width: 135px;
      height: 106px;
    }
    &__category{
      grid-row: ~"1 / 2";
      grid-column: ~"2 / 3";
      .oswald-font(36px, 36px, 400);
      margin-left: 53px;
      margin-top: 77px;
    }
    &__description {
      grid-row: ~"2 / 3";
      grid-column: ~"1 / 3";
      padding-bottom: 0;
      border:none;
      margin-left: 53px;
      width: 377px;
    }
    &__button {
      grid-row: ~"3 / 4";
      grid-column: ~"1 / 3";
      .oswald-font(20px, 30px, 400);
      margin-top: 42px;
      margin-left: 53px;
      &::after {
        left: 120px;
        top: -32px;
      }
    }
  }
}
