.selection-programm {
  &__decoration-container {
    background-color: @lightgreen;
    background-blend-mode: soft-light;
    background-image: url(../img/main-mobile.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url(../img/main-mobile-x2.jpg);
    }
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    color: @baselight;
    .oswald-font(34px, 36px, 400);
    text-align: center;
    height: 302px;
  }
  &__head {
    margin-left: auto;
    margin-right: auto;
    padding-top: 26px;
    font-weight: normal;
    .oswald-font(36px, 38px, 400);
  }
  &__tagline {
    .oswald-font(14px, 15px, 400);
    margin-top: 22px;
    text-transform: uppercase;
  }
  &__product-image {
    display: block;
    margin-top: -134px;
    margin-left: auto;
    margin-right: auto;
  }
  &__button {
    background-color: @lightgreen;
    color: @baselight;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
    text-align: center;
    height: 29px;
    padding: 1px 0 12px 0;
    .oswald-font(14px, 15px, 400);
    text-transform: uppercase;
    &:hover {
      background-color: @basegreen;
    }
    &:active p {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .selection-programm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__decoration-container {
      order: -1;
      background: none;
      color: @basedark;
      text-align: left;
      margin: 0;
      height: 230px;
    }
    &__head {
      margin-left: 15.2%;
      margin-top: 17px;
      .oswald-font(60px, 60px, 400);
    }
    &__tagline {
      .oswald-font(20px, 20px, 400);
      margin-left: 15.3%;
      margin-top: 41px;
      z-index: 1;
    }
    &__image-wrapper {
      z-index: -1;
    }
    &__product-image {
      order: 1;
      width: 709px;
      height: auto;
      margin-top: -84px;
    }
    &__button {
      order: -1;
      z-index: 1;
      height: 38px;
      width: 244px;
      padding: 0 0 17px 0;
      margin-left: 14.6%;
      margin-top: 42px;
      text-align: center;
      .oswald-font(20px, 20px, 400);
      text-transform: uppercase;
    }
  }
}
@media (min-width: @desktop-width) {
  .selection-programm {
    &__decoration-container {
      z-index: -1;
      background-color: @lightgreen;
      background-blend-mode: soft-light;
      background-image: url(../img/main-desktop.jpg);
      @media (min-resolution: 2dppx) {
        background-image: url(../img/main-desktop-x2.jpg);
      }
      background-repeat: no-repeat;
      background-size: 100%;
      margin: -133px 0 0 50%;
      width: 50%;
      height: 694px;
    }
    &__head {
      margin-left: -73.6%;
      margin-top: 198px;
      .oswald-font(60px, 60px, 400);
    }
    &__tagline {
      .oswald-font(20px, 20px, 400);
      margin-top: 40px;
      margin-left: -73.6%;
    }
    &__product-image {
      order: 0;
      width: 552px;
      margin-top: -552px;
      margin-left: 38.8%;
    }
    &__button {
      order: 1;
      z-index: 1;
      margin-left: 13.2%;
      margin-top: -240px;
    }
  }
}
