.social {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 23px;
    margin-left: -5px;
  }
  &__item {
    &--vkontakte {
      margin: -2px 4px 0 0;
    }
    &--instagram {
      margin: 0 32px 0 32px;
    }
    &--facebook {
      margin: -4px 0 0 0;
    }
  }
  &__image {
    &:hover .social__icon-path {
      fill: @lightgreen;
      &--facebook {
        fill: none;
        stroke: @lightgreen;
      }
    }
    &:active .social__icon-path {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .social {
    &__list {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-right: 26px;
    }
    &__item {
      &--vkontakte {
        margin: -2px 0px 0 0;
      }
      &--instagram {
        margin: 0 0px 0 8px;
      }
      &--facebook {
        margin: -7px 0 0 0;
      }
    }
    &__image {
      &--facebook {
        width: 30px;
        height: 32px;
      }
      &--instagram {
        width: 22px;
        height: 22px;
      }
      &--vkontakte {
        width: 28px;
        height: 22px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .social {
    &__list {
      margin-top: 64px;
    }
  }
}
