.social {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
  }
  &__link {

  }
  &__link--instagram {
    margin-left: 36px;
    margin-right: 33px;
  }
}

@media (min-width: @tablet-width) {
  .social {
    &__list {
      margin-top: 40px;
    }
  }

}
