.copyright {
  &__text {
    .arial-font(16.8px, 18.4px);
    margin-top: 32px;
    margin-left: 21px;
    width: 123px;
  }
  &__logo {
    margin-top: 25px;
    margin-right: 22px;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    &__text {
      margin-top: 40px;
      width: 123px;
    }
    &__logo {
      margin-top: 40px;
    }
  }
}
